In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy.ma as ma
import numpy as np

In [2]:
df = pd.read_excel('./archivo1.xlsx')

In [3]:
df.head(45)

     Año  Mes  Dia  Hora     Precios  Intensidad ENSO
0   1996    1    1     0  112.527964                0
1   1996    1    1     1   81.020134                0
2   1996    1    1     2   81.020134                0
3   1996    1    1     3   54.013423                0
4   1996    1    1     4   54.013423                0
5   1996    1    1     5   54.013423                0
6   1996    1    1     6   54.013423                0
7   1996    1    1     7   54.013423                0
8   1996    1    1     8   54.013423                0
9   1996    1    1     9   54.013423                0
10  1996    1    1    10   54.013423                0
11  1996    1    1    11   54.013423                0
12  1996    1    1    12   54.013423                0
13  1996    1    1    13   54.013423                0
14  1996    1    1    14   54.013423                0
15  1996    1    1    15    4.834201                0
16  1996    1    1    16    4.829700                0
17  1996    1    1    17   27.006711                0
18  1996    1    1    18  126.031320                0
19  1996    1    1    19  126.031320                0
20  1996    1    1    20   54.013423                0
21  1996    1    1    21   40.510067                0
22  1996    1    1    22   54.013423                0
23  1996    1    1    23   54.013423                0
24  1996    1    2     0   45.011186                0
25  1996    1    2     1   45.011186                0
26  1996    1    2     2   45.011186                0
27  1996    1    2     3   45.011186                0
28  1996    1    2     4   45.011186                0
29  1996    1    2     5   58.514541                0
30  1996    1    2     6   45.011186                0
31  1996    1    2     7   61.665324                0
32  1996    1    2     8   90.022371                0
33  1996    1    2     9  133.809253                0
34  1996    1    2    10  133.809253                0
35  1996    1    2    11  135.033557                0
36  1996    1    2    12   60.495034                0
37  1996    1    2    13   60.495034                0
38  1996    1    2    14   54.013423                0
39  1996    1    2    15   54.013423                0
40  1996    1    2    16   54.013423                0
41  1996    1    2    17   54.013423                0
42  1996    1    2    18   67.516779                0
43  1996    1    2    19   90.022371                0
44  1996    1    2    20   64.365996                0

In [4]:
df["Año"] = df["Año"].astype(str)
df["Mes"] = df["Mes"].astype(str) 
df["Dia"] = df["Dia"].astype(str)
df["Hora"] = df["Hora"].astype(str)
df["Fecha"] = df["Año"] + "-" + df["Mes"] + "-" + df["Dia"] + " " +df["Hora"]

In [5]:
mins = []
for h in range(df.size):
    mins.append("00")
    
horasF = np.array(mins)

df["Minutos"] = pd.Series(horasF)
#df["Minutos"]= df["Minutos"].astype(str)

df["Fecha"] = df["Fecha"] + ":" + df["Minutos"]
df["Fecha"]

0           1996-1-1 0:00
1           1996-1-1 1:00
2           1996-1-1 2:00
3           1996-1-1 3:00
4           1996-1-1 4:00
               ...
216955    2020-9-30 19:00
216956    2020-9-30 20:00
216957    2020-9-30 21:00
216958    2020-9-30 22:00
216959    2020-9-30 23:00
Name: Fecha, Length: 216960, dtype: object

In [6]:
df["Fecha"] =  pd.to_datetime(df["Fecha"])
df["Fecha"]

0        1996-01-01 00:00:00
1        1996-01-01 01:00:00
2        1996-01-01 02:00:00
3        1996-01-01 03:00:00
4        1996-01-01 04:00:00
                 ...
216955   2020-09-30 19:00:00
216956   2020-09-30 20:00:00
216957   2020-09-30 21:00:00
216958   2020-09-30 22:00:00
216959   2020-09-30 23:00:00
Name: Fecha, Length: 216960, dtype: datetime64[ns]

In [7]:
x = df["Fecha"]
y = df["Precios"]
aux = df["Intensidad ENSO"] == 0
tamano = df["Intensidad ENSO"].size

aux.head(12999)

0         True
1         True
2         True
3         True
4         True
         ...
12994    False
12995    False
12996    False
12997    False
12998    False
Name: Intensidad ENSO, Length: 12999, dtype: bool

In [8]:

#inte= (aux.value_counts())
inte= (aux.values)
print(inte)

mask = ma.masked_where(aux, aux)

type(mask)
#print(f"true: {inte} size: {tamano} ")

[ True  True  True ...  True  True  True]

numpy.ma.core.MaskedArray

In [9]:
%matplotlib widget

color = 'g' if (~aux.values).all() else 'r'
lw = 2.0
plt.plot(x,y , c= color,  linewidth=lw)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [10]:
x.iloc[mask]

0        1996-01-01 00:00:00
1        1996-01-01 01:00:00
2        1996-01-01 02:00:00
3        1996-01-01 03:00:00
4        1996-01-01 04:00:00
                 ...
216955   2020-09-30 19:00:00
216956   2020-09-30 20:00:00
216957   2020-09-30 21:00:00
216958   2020-09-30 22:00:00
216959   2020-09-30 23:00:00
Name: Fecha, Length: 160752, dtype: datetime64[ns]

In [11]:
%matplotlib widget

plt.title("Precio hora energia" , fontsize=17)
plt.plot(x,y, color='grey', linewidth=3)
plt.plot(x.loc[~mask], y.loc[~mask], 'orange',linewidth=3.2)
#plt.plot(x.loc[mask], y.loc[mask], 'grey',linewidth=3.2)
plt.xlabel("Hora" , fontsize=13)
plt.ylabel("COP 2019$ Kw/H" , fontsize=13)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0, 0.5, 'COP 2019$ Kw/H')

In [12]:
maskY = ma.masked_where(aux == True, y)
#maskX = ma.masked_greater(X, 0.0)

In [13]:
%matplotlib widget

plt.rcParams["figure.figsize"] = [17.4, 7.8]
plt.title("Precio Histórico de la Energía" , fontsize=33)

plt.tick_params(axis='x', which='minor', labelsize=30)

plt.plot(x,y, color='grey', label='No ENSO', linewidth=3)
plt.plot(x,maskY, 'orange',label='ENSO',linewidth=3.2)
#plt.plot(x.loc[mask], y.loc[mask], 'grey',linewidth=3.2)
plt.xlabel("Fecha" , fontsize=13)
plt.ylabel("COP 2019$ Kw/H" , fontsize=13)

plt.grid(color='k', linestyle='--', linewidth=.5)
plt.legend(loc='upper left', shadow=True, fontsize='x-large')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
df2 = pd.read_excel('./archivo2.xlsx')

In [15]:
df2.head(20)

     Fecha  Niño 3.4  Modelo  ha  Fech
0   195101     -1.13     NaN   1  1951
1   195102     -0.74     NaN   2  1951
2   195103     -0.77     NaN   3  1951
3   195104     -0.17     NaN   4  1951
4   195105     -0.10     NaN   5  1951
5   195106     -0.09     NaN   6  1951
6   195107      0.66     NaN   7  1951
7   195108      0.90     NaN   8  1951
8   195109      0.67     NaN   9  1951
9   195110      0.79     NaN  10  1951
10  195111      0.78     NaN  11  1951
11  195112      0.71     NaN  12  1951
12  195201      0.39     NaN   1  1952
13  195202      0.24     NaN   2  1952
14  195203      0.04     NaN   3  1952
15  195204      0.41     NaN   4  1952
16  195205     -0.38     NaN   5  1952
17  195206     -0.66     NaN   6  1952
18  195207     -0.59     NaN   7  1952
19  195208     -0.42     NaN   8  1952

In [16]:
xt = df2["Fecha"]
yd = df2["Niño 3.4"]
m = df2["Modelo"]

xt = pd.to_datetime(xt, format="%Y%m")
xt.head(15)

0    1951-01-01
1    1951-02-01
2    1951-03-01
3    1951-04-01
4    1951-05-01
5    1951-06-01
6    1951-07-01
7    1951-08-01
8    1951-09-01
9    1951-10-01
10   1951-11-01
11   1951-12-01
12   1952-01-01
13   1952-02-01
14   1952-03-01
Name: Fecha, dtype: datetime64[ns]

In [17]:
%matplotlib widget

In [18]:
plt.rcParams["figure.figsize"] = [17.4, 7.8]

In [19]:


plt.plot(xt, m, 'g--', label='Observado' , linewidth=2, markersize=12)
plt.plot(xt, yd, 'b', label='Modelo', markersize=12,linewidth=2)


plt.tick_params(axis='x', which='minor', labelsize=30)
plt.legend(loc='upper right', shadow=True, fontsize='x-large')
plt.xlabel("Fecha" , fontsize=21)
plt.ylabel("Nino3.4 ( °C )" , fontsize=21)
plt.title("Modelo Predictivo ENSO" , fontsize=23)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
df3 = pd.read_excel('./archivo2.xlsx',sheet_name='Prediccion')

In [22]:
xt = df3["Fecha"]
yd = df3["Niño 3.4"]
m = df3["Predicción"]

xt = pd.to_datetime(xt, format="%Y%m")

In [23]:
m.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Predicción, dtype: float64

In [24]:
%matplotlib widget


plt.plot(xt, m, 'g--', label='Modelo' , linewidth=2, markersize=12)
plt.plot(xt, yd, 'b', label='Observado', markersize=12,linewidth=2)

plt.tick_params(axis='x', which='minor', labelsize=30)
plt.legend(loc='upper right', shadow=True, fontsize='x-large')

plt.xlabel("Fecha" , fontsize=21)
plt.ylabel("Nino3.4 ( °C )" , fontsize=21)

plt.title("Predicción ENSO 2020/09 - 2021/08" , fontsize=23)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …